<form>
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="email" class="form-control" id="nome">
  </div>
  <div class="form-group">
    <label for="email">Preço</label>
    <input type="text" class="form-control" id="email">
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>

<app-table></app-table>